<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
    <a class="navbar-brand" href routerLink="/">TOH</a>

    <ul class="navbar-nav hidden-xs-down d-none d-sm-flex">
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" href routerLink="/jquery">jquery</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" href routerLink="/todo">todo</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" href routerLink="/heroes">heroes</a>
      </li>
      <li class="nav-item"  routerLinkActive="active">
        <a class="nav-link" href routerLink="/admin">admin</a>
      </li>
      <li class="nav-item"  routerLinkActive="active" *ngIf="!authService.isLogIn()">
        <a class="nav-link" href routerLink="/login">login</a>
      </li>
      <li class="nav-item"  routerLinkActive="active" *ngIf="authService.isLogIn()">
        <a class="nav-link" href (click)="authService.logout()">logout</a>
      </li>
    </ul>

    <div ngbDropdown class="d-inline-block d-sm-none" placement="bottom-right">
      <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div ngbDropdownMenu>
        <button class="dropdown-item" routerLink="/jquery" routerLinkActive="active">jquery</button>
        <button class="dropdown-item" routerLink="/todo" routerLinkActive="active">todo</button>
        <button class="dropdown-item" routerLink="/heroes" routerLinkActive="active">heroes</button>
        <button class="dropdown-item" routerLink="/admin" routerLinkActive="active">admin</button>
        <button class="dropdown-item" routerLink="/login" routerLinkActive="active"
                *ngIf="!authService.isLogIn()">login</button>
        <button class="dropdown-item" (click)="authService.logout()"
                *ngIf="authService.isLogIn()">logout</button>
      </div>
    </div>
  </nav>
</div>

<div class="container pt-3" [@routeAnimation]="getState(o)">
  <router-outlet #o="outlet"></router-outlet>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>
<!--<app-votetaker></app-votetaker>-->
