<form #myForm="ngForm" (ngSubmit)="addTodo()">
  <div class="row">
    <div class="col-sm-8">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="할일을 입력하세요." [(ngModel)]="newTodo.todo"
               name="todo" #todo="ngModel" required>
        <div [hidden]="todo.valid" class="alert alert-danger">
          todo is required
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!myForm.form.valid">추가</button>
    </div>
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>완료</th>
      <th>todo</th>
      <th>생성일</th>
      <th>수정일</th>
      <th>삭제</th>
    </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-item [ngForOf]="todoList">
    <tr *ngIf="!item.isEdited">
      <td>{{item.isFinished ? '완료' : '미완료'}}</td>
      <td>{{item.todo}}</td>
      <td>{{item.created}}</td>
      <td>{{item.updated}}</td>
      <td>
        <button class="btn btn-success btn-sm" (click)="save(item)">수정</button>
        <button class="btn btn-danger btn-sm ml-1" (click)="remove(item)">삭제</button>
      </td>
    </tr>
    <tr *ngIf="item.isEdited">
      <td>
        <input type="checkbox" [(ngModel)]="item.isFinished">
      </td>
      <td [class.todo_canceled]="item.isFinished">
        <input [(ngModel)]="item.todo">
      </td>
      <td>{{item.created}}</td>
      <td>{{item.updated}}</td>
      <td>
        <button class="btn btn-info btn-sm" (click)="modify(item)">저장</button>
        <button class="btn btn-warning btn-sm ml-1" (click)="restore(item)">취소</button>
      </td>
    </tr>
  </ng-template>
  </tbody>
</table>
