<div class="row">
  <div class="col-sm-8">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="할일을 입력하세요.">
    </div>
  </div>
  <div class="col-sm-4">
    <button class="btn btn-primary btn-block">추가</button>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>완료</th>
      <th>todo</th>
      <th>생성일</th>
      <th>수정일</th>
      <th>삭제</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let todo of todoList">
    <td>{{todo.isFinished ? '완료' : '미완료'}}</td>
    <td>{{todo.todo}}</td>
    <td>{{todo.created}}</td>
    <td>{{todo.updated}}</td>
    <td>
      <button class="btn btn-success btn-sm">수정</button>
      <button class="btn btn-danger btn-sm ml-1">삭제</button>
    </td>
  </tr>
  </tbody>
</table>
