.special {
  background-color: blue;
}

ul {
  padding: 0;
}

li {
  cursor: pointer;
  .bg-light {
    background-color: #cccccc !important;
  }
  &.selected {
    div {
      &.bg-light {
        background-color: #666666 !important;
      }
      &.text-dark {
        color: white !important;
      }
    }
  }
}
