<!--<p>
  home works!
</p>

<app-votetaker></app-votetaker>-->

<div class="row">
  <div class="col-sm-6 col-md-4 p-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">1주차</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 p-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">2주차</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 p-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">3주차</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4 p-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">4주차</h4>
        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
      </div>
    </div>
  </div>
</div>

